body {
    background-image: url('../public/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
  @media screen and (max-width: 2000px) {
    body {
      background-size: cover;
    }
  }